{% extends "base.html" %}
{% block content %}
<div class="jumbotron" style="padding-bottom: 1rem;">
  <div class="container">
    <div class="row">
      <div class="form-inline">
      <form  action="" method="post" role="form">
        <input type="text" class="form-control" id="pid" name="pid" placeholder="Enter player ID">
        <button type="submit" class="btn btn-success">Search</button>
      </form>
      </div>
    </div>
  </div> 
{% if pi == 9999 %}
 <!-- no player info to display -->
{% else %}     
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Hello {{ pi.name }}!</h2>

        <ol class="list-unstyled">
          <li>Level: {{pi.expLevel}}</li>
          <li>Trophies: {{pi.trophies}}</li>
          <li>Max Trophies: {{pi.bestTrophies}}</li>
          <li>Total Battles: {{pi.battleCount}} (At least {{pi.battleCount * 3 / 60}} hours played)
            <ul>
              <li>Wins: {{pi.wins}} (3 crown: {{pi.threeCrownWins}}) </li>
              <li>Losses: {{pi.losses}}</li>
              <li><i>Possible</i> Ties: {{pi.battleCount - pi.wins - pi.losses }}</li>
            </ul>
          </li>
          <li>Challenge Max Wins: {{pi.challengeMaxWins}} // Cards won: {{pi.challengeCardsWon}} </li>
          <li>Role: {{pi.role}}</li>
          <li>Total Donations: {{pi.totalDonations}}</li>
          <li>War day wins: {{pi.warDayWins}} // Cards collected: {{pi.clanCardsCollected}}</li>
        </ol>
        <h4>War Stats found from last 25 matches:</h4>
        <ol class="list-unstyled">
          <li>War Day Wins: {{w.warWins}} / War Day Losses: {{w.warLose}}</li>
          <li>Collection Wins: {{w.collectWin}} / Collection Losses: {{w.collectLose}}</li>
        </ol>
        {% if chst %}
        <h4>Upcoming chests</h4>
        <ol>
        {% for c in chst: %}
          <li value="{{ c.index+1}}">{{ c.name }}</li>
        {% endfor %}
        </ol>
        {% endif %}
      </div>      
    </div>      
  </div>
{% endif %}
</div>
{% endblock %}